extends layout

block content
  .hero-unit
    h1(style="text-transform:none;") View EVE Online ships.
    p In your browser.  <em>Awesomesauce</em>.
    p
      small(style="font-size:0.8em; font-style: italic;") For best effect, use a WebGL-enabled browser.

  .row
    .span12
      .panel
        .module
          h2 Select a ship:
          ul.nav.nav-pills.shiplist
            - for ship in ships
              li(data-class="#{shipFacts[ship].shipClass.toLowerCase()}")
                a.uppercase(href="/ships/#{ship}") #{ship}

          ul.nav.nav-pills(style="font-size:0.8em;").class-control
            li.active
              a(href="#") All
            - for shipClass in shipClasses
              li
                a.capitalize(href="#", data-for="#{shipClass.toLowerCase()}") #{shipClass}s

block scripts
  script
    $('.class-control a').click(function() {
      var self = this;
      $('.shiplist li[data-class="'+$(self).data('for')+'"]').fadeTo('slow', 1.0);
      $('.shiplist li:not([data-class="'+$(self).data('for')+'"])').fadeTo('slow', 0.15);

      console.log('clicked: ' + $(self).data('for'));

      return false;
    });